{# Raw request viewer modal - Alpine.js controlled #}
<div class="raw-request-modal"
     x-show="rawModal.show"
     x-cloak
     @click.self="closeRawModal()"
     @keydown.escape.window="closeRawModal()"
>
    <div class="raw-request-modal-content">
        <div class="raw-request-modal-header">
            <h3>Raw HTTP Request</h3>
            <span class="raw-request-modal-close" @click="closeRawModal()">&times;</span>
        </div>
        <div class="raw-request-modal-body">
            <pre class="raw-request-content" x-text="rawModal.content"></pre>
        </div>
        <div class="raw-request-modal-footer">
            <button class="raw-request-icon-btn" @click="copyRawRequest($event)" title="Copy to clipboard">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"/><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"/></svg>
                <span class="raw-request-icon-tooltip">Copy to clipboard</span>
            </button>
            <button class="raw-request-icon-btn" @click="downloadRawRequest()" title="Download as .txt">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" fill="currentColor"><path d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z"/><path d="M7.25 7.689V2a.75.75 0 0 1 1.5 0v5.689l1.97-1.969a.749.749 0 1 1 1.06 1.06l-3.25 3.25a.749.749 0 0 1-1.06 0L4.22 6.78a.749.749 0 1 1 1.06-1.06Z"/></svg>
                <span class="raw-request-icon-tooltip">Download as .txt</span>
            </button>
        </div>
    </div>
</div>
